# Servidor
PORT=8080
GIN_MODE=debug

# Base de Datos (PostgreSQL)
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=tu_password
DB_NAME=techfix_db
DB_PORT=5432
DB_SSLMODE=disable

# JWT (Opcional para futuro)
JWT_SECRET=tu_secreto_super_seguro
